{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}


{% block content %}

<div class="container">
    <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                        <div class="card-front">
                            <div class="center-wrap">
                                <form class="section text-center login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    <h4 class="mb-4 pb-3">Log In</h4>
                                    <div class="form-group">
                                        <input  name="{{ redirect_field_name }}" type="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>	
                                    <div class="form-group mt-2">
                                        <input value="{{ redirect_field_value }}" type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <a href="#" class="btn mt-4" type="submit">{% trans "Sign In" %}</a>
                                    <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                </form>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="center-wrap">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Sign Up</h4>
                                    <div class="form-group">
                                        <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                                        <i class="input-icon uil uil-user"></i>
                                    </div>	
                                    <div class="form-group mt-2">
                                        <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>	
                                    <div class="form-group mt-2">
                                        <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <a href="#" class="btn mt-4">submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

     
 
    <!-- {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %} -->
{% endblock content %}

