{% extends "base.html" %}

{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>Sign Out</title>
{% endblock %}

{% load i18n %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 center-block" id="height">
            <h3>{% trans "Sign Out" %}</h3>

            <p id="are-you-sure">{% trans 'Are you sure you want to Sign Out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3 center-block">

            <form method="post" action="{% url 'account_logout' %}" class=" col-12 text-center align-self-center py-5">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn-lg btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}